.message {
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
  }
  
  .message a {
    color: black;
  }
  
  .message a:hover, .message a:active, .message a:focus {
    text-decoration: none;
  }
  
  .message + .message {
    border-top: 1px solid #efefef;
  }
  
  .message.read {
    background: #efefef;
  }
  
  .message.unread {
    font-weight: bold;
  }
  
  .message.selected {
    background: #ffffcc;
  }
  
  .message:hover {
    margin-left: -3px;
    border-left: 3px solid #ccc;
  }
  
  .message-body {
    background: #ccc;
    margin-left: 0;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  
  .label {
    margin-right: .5em;
  }
  
  .fa-close {
    cursor: pointer;
  }